<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Sample App</title>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Sample App</h1>
        <p>Sample Container App Using Python</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="text-center">Host Name</h1>
                <h2 class="text-center">{{ hostname }}</h2>
            </div>
            <div class="col-sm-6">
                <h1 class="text-center">IP Address</h1>
                <h2 class="text-center">{{ hostip }}</h2>
            </div>
        </div>
    </div>
</body>

</html>